html,body{
	width:100%;
	height:100%;
	overflow:hidden;
  font-family:"Open Sans";
}

.container{
  width:100%;
  height:100%;
  overflow-x:hidden;
  overflow-y:auto;
  display:block;
}

.topSectionContainer{
  width:100%;
  height:80%;
  background:#007ee5;
  position:relative;

}

.topSection{
  width:100%;
  height:100%;
  background:url(../assets/dropbox-for-business-files.png) no-repeat center center;
  background-size:cover;
  position:absolute;
  -webkit-animation: moveUp 1s ease forwards;
  -moz-animation: moveUp 1s ease forwards;
  -0-animation: moveUp 1s ease forwards;
  animation: moveUp 1s ease forwards;
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -o-animation-delay: .2s;
  animation-delay: .2s;
  opacity:0;
}

.topSectionNav{
  height:100%;
  width:20%;
  position:absolute;
  z-index:1;
  -webkit-animation: fadeIn .75s ease forwards;
  animation: fadeIn .75s ease forwards;
  -moz-animation: fadeIn .75s ease forwards;
  -o-animation: fadeIn .75s ease forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
  opacity:0;
}
.dropBoxLogo{
  background: url(../assets/white_dropbox_glyph@2x.png) no-repeat center center;
  width:72px;
  height:68px;
  position:relative;
  margin: 55px 30px;
  padding:0 55px;

}

.topSectionNav ul{
  padding:0 55px;
  margin:0 30px;
  color:#fff;
  list-style:none;
}

.topSectionNav ul li{
  line-height:2.5rem;
  font-size:22px;
}

.topSectionNav ul li:nth-child(-n+2){
  font-weight:700;
}

.topSectionInfo{
  width:100%;
  height:100%;
  position:absolute;
  color:#fff;
  text-align:center;
  animation: fadeIn .75s ease forwards;
  -moz-animation: fadeIn .75s ease forwards;
  -webkit-animation: fadeIn .75s ease forwards;
  -o-animation: fadeIn .75s ease forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
  opacity:0;
}

.topSectionInfo h1{
  font-size:37px;
  position:relative;
  margin:10% auto 0 auto;
  width:600px;
}

.topSectionInfo h2{
  font-size:22px;
  position:relative;
  margin:1rem auto 0 auto;
  line-height:2.5rem;
  width:600px;
}

.topSectionInfo button,.tryNow button{
  background:#fff;
  border-radius:5px;
  border: 2px solid #0b56bc;
  width:300px;
  position:relative;
  margin:1rem auto 0 auto;
  padding:20px;
  display:block;
  font-size:22px;
  color:#007ee5;
  cursor:pointer;
}

.topSectionInfo p,.tryNow p{
  width:600px;
  position:relative;
  font-size:15px;
  color:#ccc;
  margin:1rem auto 0 auto;
  padding:0 30px;
  line-height:2rem;
}

.topSectionInfo p strong{
  font-weight:600;
  color:#fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 3px;
}

/*=============================================Container styles=====================================================*/
.businessSectionContainer,.imageGalleryContainer,.videoContainer,.tryNow,.footerContainer{
  width:100%;
  position:relative;
  text-align:center;
  color:#8899a7;
  border-bottom:1px solid #8899a7;
  padding-bottom:55px;
}
.businessSectionContainer h1,.imageGalleryContainer h1,.videoContainer h1,.tryNow h1{
  font-size:22px;
  line-height:2rem;
  margin:4rem 55px;
  padding: 0 30px;
  opacity:0;
  display:inline-block;
  animation: fadeIn .75s ease forwards;
  -moz-animation: fadeIn .75s ease forwards;
  -webkit-animation: fadeIn .75s ease forwards;
  -o-animation: fadeIn .75s ease forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

.businessSectionContainer p,.imageGalleryContainer p{
  font-size:15px;
  margin: -3rem 55px 1rem;
  padding: 0 30px;
  line-height:1.5rem;
}

.businessSectionContainer button,.imageGalleryContainer button{
  border:1px solid #007ee5;
  border-radius:3px;
  padding:10px;
  position:relative;
  width:150px;
  clear:both;
  margin:2rem auto;
  text-align:center;
  color: #007ee5;
  background:#fff;
  cursor:pointer;
  
}

/*====================================Business Section Styles======================================*/

.businessSectionContainer figure{
  width:33.33333%;
  float:left;
  display:inline-block;
  opacity:0;
}


.businessAnimation{
  -webkit-animation-name: slideFromLeft;
  -moz-animation-name: slideFromLeft;
  -o-animation-name: slideFromLeft;
  animation-name: slideFromLeft;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.power{
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.security{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -o-animation-delay: .2s;
  animation-delay: .2s;
}
.investment{
  -webkit-animation-delay: .4s;
  -moz-animation-delay: .4s;
  -o-animation-delay: .4s;
  animation-delay: .4s;
}

.businessSectionContainer figure div{
  width:200px;
  height:182px;
  margin:auto;
}
.powerImage{
   background:url(../assets/dropbox-for-business-why-devices.png) no-repeat center center;
}

.securityImage{
  background:url(../assets/dropbox-for-business-why-watch.png) no-repeat center center;
}

.investImage{
  background:url(../assets/dropbox-for-business-why-key.png) no-repeat center center;
}

/*===================================Image Gallery Section====================================================*/
.imageGalleryContainer{
  border:0;
}
.imageGallery{
  width:100%;
  position:relative;
  min-height:400px;
}

.imageGallery img{
  width:540px;
  height:300px;  
}

.imageGallery ul{
  list-style:none;
}

.imageGallery .gallerySlides li{
  position:absolute;
  margin:auto;
  left:0;
  right:0;
  opacity:0;
}

.imageAnimation{
  animation: fadeIn .75s ease forwards;
  -moz-animation: fadeIn .75s ease forwards;
  -webkit-animation: fadeIn .75s ease forwards;
  -o-animation: fadeIn .75s ease forwards;
}



.leftArrow{
  width:16px;
  height:30px;
  position:absolute;
  top:-150px;
  bottom:0;
  left:15%;
  margin:auto;
  z-index:1;
  cursor:pointer;
  background:url(../assets/arrow-left.png) no-repeat center center;
  
}

.rightArrow{
  width:16px;
  height:30px;
  position:absolute;
  top:-150px;
  right:15%;
  bottom:0;
  margin:auto;
  z-index:1;
  cursor:pointer;
  background:url(../assets/arrow-right.png) no-repeat center center;
  background-size:contain;
}


.imageGallery .pagination{
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 5%;
}

.imageGallery .pagination li{
  display:inline-block;
  width:16px;
  height:16px;
  border-radius:100%;
  background:#007ee5;
  z-index:1;
  margin: 0 15px;
  cursor:pointer;
}

.imageGallery .pagination .activePage{
  background:#8899a7;
}

.imageGalleryContainer p{
  width:310px;
  position:relative;
  font-size:15px;
  margin:1rem auto 0 auto;
  padding:0 30px;
  line-height:2rem;
}

/*==================================================video Section============================*/
.videoContainer{
  height:500px;
  padding:0;
  background:#000;
  border:0;
}

.videoContainerBackground{
  background:url(../assets/video-still.jpg) no-repeat center center;
  background-size:cover;
}

.videoContainer video{
  width:100%;
  height:100%;
  display:none;
}

.videoContainer .playButton{
  position:absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:1;
  background:url(../assets/player_large.png) no-repeat center center;
  width:106px;
  height:106px;
  cursor:pointer;
}

/*======================================Try Now Section==================================================*/
.tryNow p{
  color:#8899a7;
}

.tryNow button{
  border:0;
  color:#fff;
  background:#007ee5;
  margin-top:-2.5rem;
}

/*====================================Footer Section =============================================================*/

.footerContainer{
  border:0;
}
.footerContainer ul{
  float:left;
  margin: 0 25px;
  padding: 27.5;
  color:#4c545a;
  font-size:13px;
  text-align:left;
}

.footerContainer li{
  line-height:1.5rem;
}

.footerContainer ul li:first-child{
  font-weight:700;
}



/*========================================Animations===============================================================*/
@-webkit-keyframes moveUp {
	0% {
		-webkit-transform: translateY(100%);
    opacity:0;
	}
	25%{
    opacity: 0; 
	}
	50%{
    opacity: 0; 
	}
	75%{
    opacity: 0; 
	}			
	100% {
		-webkit-transform: translateY(0%);
    opacity: 1; 
	}	
}
@keyframes moveUp {
	0% {  
    transform: translateY(100%); 
    opacity: 0;
  }
  25%{
    opacity: 0; 
	}
	50%{
    opacity: 0; 
	}
	75%{
    opacity: 0; 
	}		
	100% { 
    transform: translateY(0); 
    opacity: 1; 
  
  }
}
@-moz-keyframes moveUp {
	0% { 
    -moz-transform: translateY(100%); 
    opacity: 0;
  }
  25%{
    opacity: 0; 
	}
	50%{
    opacity: 0; 
	}
	75%{
    opacity: 0; 
	}		
	100% { 
    -moz-transform: translateY(0); 
    opacity: 1; 
  
  }
}
@-webkit-keyframes fadeIn {
	0% { 
    opacity: 0;
  }
  
	100% { 
    opacity: 1; 
  
  }
}
@keyframes fadeIn {
	0% { 
    opacity: 0;
  }
	100% { 
    opacity: 1; 
  
  }
}
@-moz-keyframes fadeIn {
	0% { 
    opacity: 0;
  }
	100% { 
    opacity: 1; 
  
  }
}

@-webkit-keyframes slideFromLeft {
	0% {
		-webkit-transform: translatex(-150%);
    opacity:0;
	}
	65%{
    -webkit-transform: translateX(0%);
	}
	80%{
    -webkit-transform: translateX(-2%);
	}
	100% {
		-webkit-transform: translateX(0%);
    opacity: 1; 
	}	
}

@-moz-keyframes slideFromLeft {
	0% {
		-moz-transform: translatex(-150%);
    opacity:0;
	}
	65%{
    -moz-transform: translateX(0%);
	}
	80%{
    -moz-transform: translateX(-2%);
	}
	100% {
		-moz-transform: translateX(0%);
    opacity: 1; 
	}	
}


@-o-keyframes slideFromLeft {
	0% {
		-o-transform: translatex(-150%);
    opacity:0;
	}
	65%{
    -o-transform: translateX(0%);
	}
	80%{
    -o-transform: translateX(-2%);
	}
	100% {
		-o-transform: translateX(0%);
    opacity: 1; 
	}	
}

@keyframes slideFromLeft {
	0% {
		transform: translatex(-150%);
    opacity:0;
	}
	65%{
    transform: translateX(0%);
	}
	80%{
    transform: translateX(-2%);
	}
	100% {
		transform: translateX(0%);
    opacity: 1; 
	}	
}


@-webkit-keyframes showMenu {
	0% {
		-webkit-transform: translatex(-150%);
    opacity:0;
	}
	100% {
		-webkit-transform: translateX(0%);
    opacity:1;
	}
}  
@-moz-keyframes showMenu {
	0% {
		-moz-transform: translatex(-150%);
    opacity:0;
	}
	100% {
		-moz-transform: translateX(0%);
    opacity:1;
	}
} 
@-o-keyframes showMenu {
	0% {
		-o-transform: translatex(-150%);
    opacity:0;
	}
	100% {
		-o-transform: translateX(0%);
    opacity:1;
	}
} 
@keyframes showMenu {
	0% {
		transform: translatex(-150%);
    opacity:0;
	}
	100% {
		transform: translateX(0%);
    opacity:1;
	}
} 

@-webkit-keyframes hideMenu {
	0% {
		-webkit-transform: translatex(0%);
    opacity:1;
	}
	100% {
		-webkit-transform: translateX(-150%);
    opacity:0;
	}
}

@-moz-keyframes hideMenu {
	0% {
		-moz-transform: translatex(0%);
    opacity:1;
	}
	100% {
		-moz-transform: translateX(-150%);
    opacity:0;
	}
}

@-o-keyframes hideMenu {
	0% {
		-o-transform: translatex(0%);
    opacity:1;
	}
	100% {
		-o-transform: translateX(-150%);
    opacity:0;
	}
}

@keyframes hideMenu {
	0% {
		transform: translatex(0%);
    opacity:1;
	}
	100% {
		transform: translateX(-150%);
    opacity:0;
	}
}


/*=========================================Mobile Nav item Styles====================================================*/

.hamburger {
    position:absolute;
    display:inline-block;
    top:.5em;
    width:30px;
    height:12px;
    border-top:4px solid #fff;
    border-bottom:4px solid #fff;
    z-index:100;
    display:none;
}
 
.hamburger:before {
    content:"";
    position:absolute; 
    top:4px;
    left:0;
    width:100%;
    border-top:4px solid #fff;
}

.close{
  color:#fff;
  cursor:pointer;
  display:none;
  position:absolute;
  right:10px;
  top:10px;
  font-size:22px;
}

.close:before {
  content: ' X ';
  color: #fff;
  font-weight: 300;
  font-size:22px;
}

.hideMenu{
  animation: hideMenu .75s ease forwards !important;
  -moz-animation: hideMenu .75s ease forwards !important;
  -webkit-animation: hideMenu .75s ease forwards !important;
  -o-animation: hideMenu .75s ease forwards !important;

}

/*=========================================Responsive Styles====================================================*/

@media only screen and (max-width: 1000px) {
  .hamburger {
    display:block;
  }
  .topSectionContainer{
    height:100%;
  }
  .topSectionNav{
    display:none;
    background:#ccc;
    width:60%;
    animation: showMenu .75s ease forwards;
    -moz-animation: showMenu .75s ease forwards;
    -webkit-animation: showMenu .75s ease forwards;
    -o-animation: showMenu .75s ease forwards;
  }
  .dropBoxLogo{
    width:36px;
    height:34px;
    background-size:contain;
    margin: 2em 1rem;
    padding:0;

  }

  .topSectionNav ul{
    padding:0;
    margin:1rem;
    color:#fff;
    list-style:none;
  }

  .topSectionNav ul li{
    line-height:1.5rem;
    font-size:15px;
  }

  .topSectionNav ul li:nth-child(-n+2){
    font-weight:700;
  }
  .topSectionInfo{
    height: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
  }
  .topSectionInfo h1{
    font-size:22px;
    width:auto;
  }

  .topSectionInfo h2{
    font-size:15px;
    line-height:1.5rem;
    padding:10px;
    width:auto;
  }

  .topSectionInfo button,.tryNow button{
    background:#fff;
    width:200px;
    padding:10px;
    font-size:15px;
  }

  .topSectionInfo p,.tryNow p{
    width:auto;
    font-size:1rem;
    line-height:1rem;
  }
  
  .businessSectionContainer h1,.imageGalleryContainer h1,.videoContainer h1,.tryNow h1{
    margin:2rem auto 1rem;
    padding: 10px;
  }

  .businessSectionContainer p,.imageGalleryContainer p{
    margin:auto;
    padding: 10px;
  }

  .businessSectionContainer button,.imageGalleryContainer button{
    padding:10px;
    width:100px;
    margin:2rem auto; 
  }

  
  .businessSectionContainer figure{
    width:100%;
    float:none;
  }
  
  .powerImage{
   background:url(../assets/dropbox-for-business-why-devices@2x.png) no-repeat center center;
   background-size:contain;
  }

  .securityImage{
    background:url(../assets/dropbox-for-business-why-watch@2x.png) no-repeat center center;
    background-size:contain;
  }

  .investImage{
    background:url(../assets/dropbox-for-business-why-key@2x.png) no-repeat center center;
    background-size:contain;
  }
  
  .imageGallery{
    min-height:200px;
  }

  .imageGallery img{
    width:270px;
    height:150px;  
  }
  
  .leftArrow{
    width:16px;
    height:30px;
    top:-70px;
    bottom:0;
    left:5px;
    background:url(../assets/arrow-left@2x.png) no-repeat center center;
    background-size:contain;
  }

  .rightArrow{
    width:16px;
    height:30px;
    top:-75px;
    right:5px;
    bottom:0;
    background:url(../assets/arrow-right@2x.png) no-repeat center center;
    background-size:contain;
  }


  .imageGallery .pagination{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 5%;
  }

  .imageGallery .pagination li{
    display:inline-block;
    width:16px;
    height:16px;
    border-radius:100%;
    background:#007ee5;
    z-index:1;
    margin: 0 15px;
    cursor:pointer;
  }
  
  .videoContainer{
    height:500px;
    padding:0;
    background:#000;
    border:0;
  }

  .videoContainerBackground{
    background:url(../assets/video-still@2x.jpg) no-repeat center center;
    background-size:cover;
  }

  .videoContainer video{
    width:100%;
    height:100%;
    display:none;
  }
  
  .tryNow button{
    margin-top:-1.25rem;
    background: #007ee5;
  }
  
  .footerContainer ul{
    margin:10px;
    padding:0;
  }
  
  



}

@media only screen and (max-width: 1000px) and (orientation:landscape) {
  .topSectionInfo{
    height: 100%;
  }
}




